<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Interactive Visualizations and Dashboards ~ Belly Button Biodiversity</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        
      </div>
    </div>
	<div>
		<p class="belly">The belly button is one of the habitats closest to us, and yet it remains relatively unexplored. In January 2011, we launched <em>Belly Button Biodiversity</em> to investigate the microbes inhabiting our navels and the factors that might influence the microscopic life calling this protected, moist patch of skin home. In addition to inspiring scientific curiosity, <em>Belly Button Biodiversity</em> inspired conversations about the beneficial roles microbes play in our daily lives.</p><br>
	</div>
    <div class="row">
      <div class="col-md-2">
        <div class="well">
          <h5 class="samp"><b>SELECT Sample</b></h5>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title"><b>Sample MetaData</b></h3>
          </div>
          <div id="sample-metadata" class="panel-body"></div>
        </div>
      </div> 
      <div class="col-md-5">
        <div id="pie"></div>
      </div>
      <div class="col-md-5">
        <div id="gauge"></div>
      </div>
    </div>
  
  <div class="row">
    <div class="col-md-12">
      <div id="bubble"></div>
    </div>
  </div>
</div>
  <!-- <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{ url_for('static', filename='js/bonus.js') }}"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>

</html>
